@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    180 Sansome st<br />
    San Francisco, CA <br />
    <abbr title="Phone">P:</abbr>
    1 561 260 0684
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@Sinch.com">support@Sinch.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:sales@sinch.com">sales@sinch.com</a>
</address>