@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sinch Authentication framework demo</h1>
    <p class="lead">Sinch autthenticator is a .net and iOS sample that lates you easly add Google Authenticator features in to your own app.</p>
    <p><a href="http://sinch.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Download the repos on github and read the tutorials at sinch.com
        </p>
        <p><a class="btn btn-default" href="https://github.com/sinch/net-two-factor-auth">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Get more libraries</h2>
        <p>We have other libraries and SDKs to help you add both verification and real communication to your app.</p>
        <p><a class="btn btn-default" href="http://sinch.com/downloads">Learn more &raquo;</a></p>
    </div>
    
</div>