<div class="jumbotron">
    <h1>Sinch two factor auth sample</h1>
    <p class="lead">Roll your own two factor auth </p>
    <p><a href="http://sinch.com/tutorials" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
