@model Part4.Models.SendCodeViewModel
@{
    ViewBag.Title = "Open the sample app on your phone";
}

<h2>@ViewBag.Title.</h2>
Open you app and generate a token
@section Scripts {
    <script>
        
        function checkStatus() {
            $.getJSON('@Url.Action("StatusCheck", "Verify")', function(data) {
                if (data['status'] == 'Ok') {
                    document.location = '@Url.Action("VerifyTOTP")?guid=' + data["guid"] + '&returnUrl=@Model.ReturnUrl';
                } else {
                    setTimeout(checkStatus, 1000);
                }
            });
        }
        $().ready(function() {
            checkStatus();
        });
    </script>
}
